<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite Store List</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<style>
		.none {display: none !important;}
		.rdnwhladdr, .sitewhladdr {
			display: block;
		}
	</style>
</head>
<body>
    <div class="container">
        <h1>즐겨찾기 가게 목록</h1>
        <input type="text" id="storeQuery" placeholder="가게 이름 검색" oninput="filterStores()" />
        
        <button onclick="location.href='/'">즐겨찾기</button>
        <button id="changeAddressTypeBtn">주소 타입 변경</button>
	<!--<button id="toggleClosedStoresBtn">가게 상태</button> -->	  
        <h2>가게 목록</h2>
        <table>
            <thead>
                <tr>                 
                    <th>사업장명</th>
                    <th>전화번호</th>
                    <th>주소</th>
            <!--    <th>상태</th>--> 
					
                </tr>
            </thead>
            <tbody id="storeTableBody">
                <tr th:each="store : ${storeList}">
                    <td><a  th:text="${store.bplcnm}" th:href="@{/member/findOften(shopName=${store.bplcnm})}"></a></td>
                    <td th:text="${store.sitetel}"></td>
                    <td><span class="rdnwhladdr " th:text="${store.rdnwhladdr}"></span> 
						<span class="sitewhladdr none" th:text="${store.sitewhladdr}"></span>
					</td>
          <!--      <td th:text="${store.trdstatenm}"></td> -->
		  			
                </tr>
            </tbody>
        </table>
    </div>
    
    <script src="/js/storeList.js"></script>
	
</body>
</html>

