<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="selectList" parameterType="com.example.demo.vo.MemberShipVO" resultType="com.example.demo.vo.MemberShipVO">
		SELECT * FROM MEMBERSHIP
		<!--
		<where>
				<if test="userID != '' and !userID.equals('')">
				AND userID = #{userID} 
				</if>
				<if test="password != '' and !password.equals('')">
				AND password = #{password}
				</if>
				<if test="username != '' and !username.equals('')">
				AND username = #{username}
				</if>
				<if test="email != '' and !email.equals('')">
				AND email = #{email}
				</if>
				<if test="idx != null and !idx.equals(null)">
				AND idx = #{idx}
				</if>
			</where>-->
		ORDER BY idx DESC
	</select>

	<select id="selectOne" parameterType="com.example.demo.vo.MemberShipVO" resultType="com.example.demo.vo.MemberShipVO">
		SELECT 
			IDX
			, ISADMIN
			, USERID
			, USERNAME
			, EMAIL
			, REGDATE
			, ISUSE
			, DROPDATE 
		FROM MEMBERSHIP
			WHERE userID = #{userID} 
				AND password = STANDARD_HASH(#{password}, 'SHA256')
				AND ISUSE = 1
				AND DROPDATE IS NULL
</select>

<select id="checkUserID" parameterType="String" resultType="int">
	SELECT COUNT(*) AS CNT
	FROM MEMBERSHIP
	WHERE userID = #{userID} 
</select>

<select id="checkEmail" parameterType="String" resultType="int">
	SELECT COUNT(*) AS CUT
	FROM MEMBERSHIP
	WHERE EMAIL = #{email}
		AND ISUSE = 1
</select>

<update id="memberDrop" parameterType="com.example.demo.vo.MemberShipVO">
    UPDATE MEMBERSHIP SET 
        ISUSE = 0,
        DROPDATE = SYSDATE
    WHERE 
        userID = #{userID} 
        AND password = STANDARD_HASH(#{password}, 'SHA256')
</update>



	<update id="updateInfo" parameterType="com.example.demo.vo.MemberShipVO">
		UPDATE MEMBERSHIP  
			<set>
				<if test="password != '' and !password.equals('')">
					, PASSWORD 	= STANDARD_HASH(#{password}, 'SHA256')
				</if>
				<if test="username != '' and !username.equals('')">
					, USERNAME 	= #{username}
				</if>
				<if test="email != '' and !email.equals('')">
					, EMAIL 	= #{email}
				</if>
				<if test="phonnumber != '' and !phonnumber.equals('')">
					, PHONNUMBER = #{phonnumber}
				</if>
			</set>
		WHERE idx = #{idx}
	</update>
	
	
	
	
	
	

</mapper>